blinker==1.9.0
Brotli==1.1.0
certifi==2025.8.3
charset-normalizer==3.4.3
click==8.3.0
Flask==3.1.2
grpcio==1.75.0
idna==3.10
ijson==3.4.0
ip3country==0.4.0
itsdangerous==2.2.0
Jinja2==3.1.6
jsonify==0.5
MarkupSafe==3.0.2
protobuf==6.32.1
requests==2.32.5
statsig==0.64.0
typing_extensions==4.15.0
ua-parser==1.0.1
ua-parser-builtins==0.18.0.post1
urllib3==2.5.0
Werkzeug==3.1.3
